<ng-template #navLinks>
  <div class="nav-links-wrapper">
    <a class="nav-link" routerLink="/account/create" routerLinkActive="active-link">Create Account</a>
    <a class="nav-link" routerLink="/account/transfer" routerLinkActive="active-link">Transfer Funds</a>
    <a class="nav-link" routerLink="/account/transactions" routerLinkActive="active-link">Transaction History</a>
  </div>
</ng-template>

<mat-toolbar>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div class="desktop-links">
    <ng-container *ngTemplateOutlet="navLinks"></ng-container>
  </div>
</mat-toolbar>

<mat-toolbar class="mobile-links">
  <div class="mobile-nav">
    <ng-container *ngTemplateOutlet="navLinks"></ng-container>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
